<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: none;
  border-collapse: collapse;
  font-size:12px;
}

#myDIV {
  text-decoration: underline;
  text-decoration-style:dashed;
}
@font-face {
            font-family: "DotMatrix-TwoExtended";           
            src: local("DotMatrix-TwoExtended"), url("bank-bjb/assets/fonts/DotMatrix-TwoExtended.ttf") format("truetype");
            font-weight: normal;
            font-style: normal;

        }    

p.mix {border-style: dashed hidden hidden hidden;}
.right {text-align:right;}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <td style="width:75%">USER ID : XXX</td>
    <td>TGL CETAK :</td>
    <td>XXXXXX</td>
  </tr>
  <tr>
    <td>BANK BJB</td>
    <td>JAM CETAK :</td>
    <td>XXXXXX</td>
  </tr>
  <tr>
    <td>KODE CABANG : 0031</td>
    
  </tr>
  <tr>
    <td>CABANG SUMBER</td>
    
  </tr>
</table>
<BR>
<table style="width:100%">
  <tr>
    <td style="width:75%">BUKTI PEMBAYARAN/SETORAN PAJAK</td>
    
  </tr>
  <tr>
    <td>PEMERINTAH KABUPATEN CIREBON</td>
    
  </tr>
  
</table>

<p class="mix"></p>
<table style="width:100%">
  <tr>
    <td style="width:26%">TANGGAL TRANSAKSI</td>
    <td style="width:1%">:</td>
    <td style="width:31%">XX/XX/XXXX (DD/MM/YY)</td>
    <td style="width:21%">JAM TRANSAKSI</td>
    <td style="width:1%">:</td>
    <td style="width:20%">XX:XX:XX</td>
  </tr>
  <tr>
    <td style="width:26%">NTB</td>
    <td style="width:1%">:</td>
    <td style="width:31%">XXXXXXXXXXXXXXXXXXX</td>
    <td style="width:21%">NOMOR SEQUENCE</td>
    <td style="width:1%">:</td>
    <td style="width:20%">XXXXX</td>
  </tr>
  <tr>
    <td style="width:26%">NTP</td>
    <td style="width:1%">:</td>
    <td style="width:31%">XXXXXXXXXX</td>
    <td style="width:21%">NOMOR BAYAR</td>
    <td style="width:1%">:</td>
    <td style="width:20%">XXXXXXXXX</td>
  </tr>
  
</table>
<table style="width:100%">
  <tr>
    <td style="width:26%">NPWPD/NOPD</td>
    <td style="width:1%">:</td>
    <td style="width:42%">XXXXXXXXXXX</td>
    <td style="width:10%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>  
</table>
<table style="width:100%">
    <tr>
    <td style="width:26%">NAMA WP/OP</td>
    <td style="width:1%">:</td>
    <td style="width:31%">XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
  <tr>
    <td style="width:26%">ALAMAT</td>
    <td style="width:1%">:</td>
    <td style="width:31">XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
  <tr>
    <td style="width:26%">TAGIHAN POKOK</td>
    <td style="width:1%">:</td>
    <td style="width:31">RP. XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
  <tr>
    <td style="width:26%">TAGIHAN DENDA</td>
    <td style="width:1%">:</td>
    <td style="width:31">RP. XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
</table>
<table style="width:58%">
  <tr>
    <td style="width:45%"></td>
    <td><p class="mix"></p></td>
    
  </tr>
  
</table>
<table style="width:100%">
  <tr>
    <td style="width:26%">TOTAL TAGIHAN</td>
    <td style="width:1%">:</td>
    <td style="width:31">RP. XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
  <tr>
    <td style="width:26%">BIAYA ADMIN BANK</td>
    <td style="width:1%">:</td>
    <td style="width:31">RP. XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
</table>
<table style="width:58%">
  <tr>
    <td style="width:45%"></td>
    <td><p class="mix"></p></td>
    
  </tr>
  
</table>
<table style="width:100%">
  <tr>
    <td style="width:26%">TOTAL BAYAR</td>
    <td style="width:1%">:</td>
    <td style="width:31">RP. XXXXXXXXXXX</td>
    <td style="width:21%"></td>
    <td style="width:1%"></td>
    <td style="width:20%"></td>
  </tr>
</table>
<table style="width:100%">
  <tr>
    <td style="width:26%">TERBILANG</td>
    <td style="width:1%">:</td>
    <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
    
  </tr>
  
</table>
<BR>
<table style="width:70%">
  <tr>
    <td style="width:37%">KODE/NAMA REKENING</td>
    <td style="width:1%">:</td>
    <td>XXXXXXX / XXXXXXXX</td>
    
    
  </tr>
  <tr>
    <td style="width:26%">MASA AWAL/AKHIR PJK</td>
    <td style="width:1%">:</td>
    <td>RP. XXXXXXXXXXX</td>
    
  </tr>
</table>
<table style="width:100%">
  <tr>
    <td><p class="mix"></p></td>
  </tr>
  <tr>
    <td>* BUKTI PEMBAYARAN/SETORAN INI HARAP DISIMPAN SEBAGAI BUKTI PEMBAYARAN YANG SAH *</td>
  </tr>
</table>

</body>
</html>
