<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>
    
    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 12px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }
    
    
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <!-- <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                Created: January 1, 2015<br>
                                Due: February 1, 2015
                            </td>
                        </tr>
                    </table>
                </td>
            </tr> -->
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                USER ID : <br>
                                Bank BJB<br>
                                KODE CABANG : 0031<br>
                                CABANG SUMBER
                            </td>
                            
                            <td>
                                TGL CETAK &nbsp; : xx:xx:xxx<br>
                                JAM CETAK &nbsp; : xx:xx
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            
        </table>
        <p>
            BUKTI PEMBAYARAN/SETORAN PAJAK<BR>
            PEMERINTAH KABUPATEN CIREBON
        </p>

        <table cellpadding="0" cellspacing="0">
            <!-- <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://www.sparksuite.com/images/logo.png" style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>
                                Invoice #: 123<br>
                                Created: January 1, 2015<br>
                                Due: February 1, 2015
                            </td>
                        </tr>
                    </table>
                </td>
            </tr> -->
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                USER ID : <br>
                                Bank BJB<br>
                                KODE CABANG : 0031<br>
                                CABANG SUMBER
                            </td>
                            
                            <td>
                                <table>
                                    <tr class="information">
                                        <td>TGL CETAK</td>
                                        <td>:</td>
                                        <td>xxxxxxx</td>
                                    </tr>
                                </table>
                                
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            
        </table>
    </div>
</body>
</html>